<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h3>Configurações</h3>
			<hr>
			<h5 >
				<span class="glyphicon glyphicon-user text-info"></span>
				<strong>Limite para Palpitar</strong>
			</h5>
				<span ng-hide="config.betTimeLimit">{{config.tour.data.betTimeLimit}}
				<small>
					<a href ng-click="config.editParam('betTimeLimit')">(Alterar)</a>
				</small>
				</span>

			<form class="form-horizontal" ng-submit="config.saveParam('betTimeLimit',config.betTimeLimit)" ng-show="config.tour.data.betTimeLimit">
				<div class="form-group">
					<div class="col-xs-8 col-sm-6 col-lg-3">
						<input type="text" class="form-control" ng-model="config.tour.data.betTimeLimit" ng-blur="config.saveParam('betTimeLimit',config.tour.data.betTimeLimit)">
					</div>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
			
			<hr>
			
			<!-- <h5>
				<span class="glyphicon glyphicon-briefcase text-info"></span>
				<strong>Empresa </strong>
			</h5>
				<span ng-hide="profile.form.company">{{profile.user.company}}
				<small>
					<a href ng-click="profile.editParam('company')">(Alterar)</a>
				</small>
				</span>

			<form class="form-horizontal" ng-submit="profile.saveParam('company',profile.form.company)" ng-show="profile.form.company">
				<div class="form-group">
					<div class="col-xs-8 col-sm-6 col-lg-3">
						<input type="text" class="form-control" ng-model="profile.form.company" ng-blur="profile.saveParam('company',profile.form.company)">		
					</div>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
			<hr>
		</div>
		
		<div class="col-xs-12">
			<h4>Alterar senha</h4>
			<a href ng-click="profile.showPasswordChange = true" ng-hide="profile.showPasswordChange">Quero alterar a minha senha</a>
			

			<form name="passForm" ng-if="profile.showPasswordChange" class="col-xs-4">

				<div class="form-group" ng-class="{'has-error': passForm.oldPassword.$touched && passForm.oldPassword.$invalid, 'has-success': passForm.oldPassword.$dirty && passForm.oldPassword.$touched}">
				    <div class="input-group">
				    	<div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
						<input 
							required
							type="password" 
							class="form-control" 
							id="passwordInput" 
							name="oldPassword" 
							ng-model="form.oldPassword" 
							placeholder="Senha atual"
							ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 300, 'blur': 0 } }">
				    </div>
				    <div ng-messages="passForm.oldPassword.$error" ng-if="passForm.oldPassword.$touched">
				    	<p class="help-block" ng-message="required">Campo Obrigatório</p>
				    </div>
				</div>

				<div class="form-group" ng-class="{'has-error': passForm.password.$touched && passForm.password.$invalid,'has-success': passForm.password.$dirty && passForm.password.$touched}">
				    <div class="input-group">
				    	<div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
						<input 
							required
							minlength="6" 
							type="password" 
							class="form-control" 
							id="passwordInput" 
							name="password" 
							ng-model="form.password" 
							placeholder="Nova senha"
							ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 300, 'blur': 0 } }">
				    </div>
				    <div ng-messages="passForm.password.$error" ng-if="passForm.password.$touched">
				    	<p class="help-block" ng-message="required">Senha requerida</p>
				    	<p class="help-block" ng-message="minlength">A senha deve ter pelo menos 6 caracteres</p>
				    </div>
				</div> -->

				<!-- Password check -->

				<!-- <div class="form-group" ng-class="{'has-error': form.password !== form.passwordCheck && passForm.passwordCheck.$touched, 'has-success': form.password === form.passwordCheck && passForm.passwordCheck.$dirty}">
				    <div class="input-group">
				    	<div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
						<input 
							required 
							type="password" 
							class="form-control" 
							id="passwordInput" 
							name="passwordCheck" 
							ng-model="form.passwordCheck" 
							placeholder="Confirme a nova senha"
							ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 300, 'blur': 0 } }"
							ng-disabled="passForm.password.$invalid">
				    </div>
					<div class="help-block" ng-show="form.password !== form.passwordCheck && passForm.passwordCheck.$touched">As senhas informadas são diferentes</div>
				</div>
				<button class="btn btn-primary" ng-click="profile.changePassword(form)">Salvar</button>
				<button class="btn btn-default" ng-click="profile.showPasswordChange=false; profile.reset(passForm)">Cancelar</button>
			</form>			 -->
		</div>
		
		<!-- <div class="col-xs-12" ng-hide="profile.showPassword">
			<hr>
			<button class="btn btn-danger" ng-click="profile.showPassword = true">Excluir perfil</button>
			<span class="text-danger"><strong>&nbsp ATENÇÃO! </strong> Isto irá eliminá-lo do jogo. Todos os seus palpites e sua pontuação serão perdidos.</span>
		</div>
		<form class="col-md-6 cl-lg-3" ng-show="profile.showPassword" name="passwordForm">
			<hr>
			<div class="form-group">
				<label>Senha</label>
				<input type="password" class="form-control" ng-model="profile.form.password" eb-focus="profile.showPassword" required>
			</div>
			<button class="btn btn-danger" ng-click="profile.deleteProfile(profile.form.password)" ng-disabled = "passwordForm.$invalid">Desejo excluir meu perfil</button>
		</form> -->
	</div>
</div>