<footer class="eb-footer">
  <div class="container">
    <div class="row">
        <div class="col-md-6">
            <p>Bolão Social &copy; <span id="year"></span> - <a href="http://renan.inf.br" target="_blank">renan.inf.br</a></p>
        </div>
        <div class="col-md-6 text-right">
          <a href ui-sref="app.contact">
            <span class="glyphicon glyphicon-envelope"></span>
            Contato
          </a>
        </div>
    </div>
   </div> 
  <script>
      document.getElementById("year").innerHTML = new Date().getFullYear();
  </script>
</footer>