<div class="container">
	<div class="row">
		<img src="images/b12.jpg" class="img-responsive">
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
		<!-- <div class="col-xs-12 col-sm-8 col-lg-6 user-form"> -->
			<form name="loginForm" class="form" ng-submit="login.login(login.form)">
				<center><h4>Bolão da Raça - Login</h4></center>
				<div class="form-group">
				    <div class="input-group">
				    	<div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
				    	<input type="email" class="form-control" name="email" placeholder="Email" ng-model="login.form.email" required>
				    </div>
				</div>

				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
						<input type="password" class="form-control" name="password" placeholder="Senha" ng-model="login.form.password" required>
					</div>
				</div>

				<div class="form-group">
				    <button type="submit" class="btn btn-primary btn-block" ng-disabled="loginForm.$invalid || login.loading">
						<span ng-hide="login.loading">Entrar</span>
						<span ng-show="login.loading">Efetuando login...</span>
				    </button>
				    <div class="text-center">
				    	<br>
					    <a ui-sref="reset">Esqueci minha senha.</a>
				    </div>
					<hr>
				  	<div class="col-xs-12">
				  		<p class="text-center">Caso ainda não tenha cadastro, clique para se <a ui-sref="register">cadastrar agora!</a></p>
				  	</div>
				</div>
			</form>
		</div>
	</div>
</div>
