<div class="container">
	
		<div class="wrapper fadeInDown">
				<div id="formContent">
					<!-- Tabs Titles -->
			
					<!-- Icon -->
					<div class="fadeIn first">
						<img src="images/logo.png" id="icon" alt="Logo" />
						<h1>Bolão Social</h1>
					</div>
			
					<!-- Login Form -->
					<form name="loginForm" class="form" ng-submit="login.login(login.form)">
						<input type="text" id="email" ng-model="login.form.email" required class="fadeIn second" name="email" placeholder="Usuário">
 						<input type="password" id="password" ng-model="login.form.password" required class="fadeIn third" name="login" placeholder="Senha">
						<!-- <input type="submit" class="fadeIn fourth" value="Log In"> -->
						<button type="submit" class="btn btn-primary btn-block" ng-disabled="loginForm.$invalid || login.loading">
							<span ng-hide="login.loading">Entrar</span>
							<span ng-show="login.loading">Efetuando login...</span>
						</button>
					</form>
			
					<!-- Remind Passowrd -->
					<div id="formFooter">
						<a class="underlineHover" href="http://bolaosocial.com.br/assets/regras_bolao_social.pdf" target="_blank">Ver as Regras</a>
					</div>
			
				</div>
			</div>
		
</div>
