<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h4>Jogadores registrados <small>Total {{participants.players.length}}</small></h4>
			<form>
				<div class="form-group">
					<input 
						type="text" 
						class="form-control" 
						placeholder="Pesquisar..." 
						ng-model="participants.listFilter"
						ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 300, 'blur': 0 } }">
				</div>
			</form>
			<a class="pull-right" href ng-click="participants.onlyEmail = true" ng-hide="participants.onlyEmail">Apenas e-mails</a>
			<ul class="nav nav-tabs">
				<li role="presentation" ng-class="{'active': participants.leagueFilter === league}" ng-repeat="league in participants.leagues"><a href ng-click="participants.leagueFilter = league">{{league}} <span class="badge" ng-show="participants.leagueFilter === league">{{result.length}}</span></a></li>
			</ul>
			<div ng-show="participants.onlyEmail">
				<div ng-repeat="user in participants.players | orderBy: participants.orderBy : participants.reverse | filter: participants.listFilter | league: participants.leagueFilter as result">{{user.email}},</div>
				<a href ng-click="participants.onlyEmail = false">Voltar</a>
			</div>
			<table class="table table-hover table-striped table-bordered table-responsive" ng-hide="participants.onlyEmail">
				<thead>
					<th ng-click="participants.orderBy = 'name' ; participants.reverse = !participants.reverse">Nome
						<span class="glyphicon glyphicon-triangle-top" ng-show="participants.orderBy === 'name' && !participants.reverse"></span>
						<span class="glyphicon glyphicon-triangle-bottom" ng-show="participants.orderBy === 'name' && participants.reverse"></span>
					</th>
					<th class="text-center">User ID</th>
					<th ng-click="participants.orderBy = 'email' ; participants.reverse = !participants.reverse">Email
						<span class="glyphicon glyphicon-triangle-top" ng-show="participants.orderBy === 'email' && !participants.reverse"></span>
						<span class="glyphicon glyphicon-triangle-bottom" ng-show="participants.orderBy === 'email' && participants.reverse"></span>
					</th>
					<!-- <th class="text-center" ng-click="participants.orderBy = 'company' ; participants.reverse = !participants.reverse">Empresa
						<span class="glyphicon glyphicon-triangle-top" ng-show="participants.orderBy === 'company' && !participants.reverse"></span>
						<span class="glyphicon glyphicon-triangle-bottom" ng-show="participants.orderBy === 'company' && participants.reverse"></span>
					</th> -->
					<th class="text-center" ng-click="participants.orderBy = 'lastLogin' ; participants.reverse = !participants.reverse">Último login
						<span class="glyphicon glyphicon-triangle-top" ng-show="participants.orderBy === 'lastLogin' && !participants.reverse"></span>
						<span class="glyphicon glyphicon-triangle-bottom" ng-show="participants.orderBy === 'lastLogin' && participants.reverse"></span>
					</th>
					<!-- <th class="text-center">Campeão</th>
					<th class="text-center">Goleiro</th> -->
					<th class="text-center">Padrão</th>
					<th class="text-center">Apostas</th>
					<th class="text-center">Ativo</th>
					<th class="text-center">Admin</th>
					<!-- <th class="text-center">Pontos Extra</th> -->
				</thead>
				<tbody>
					<tr ng-repeat="user in participants.players | orderBy: participants.orderBy : participants.reverse | filter: participants.listFilter | league: participants.leagueFilter"
						ng-class="{'success': user.admin, 'danger': !user.active}">

						<td nowrap>{{user.name}}</td>
						<td class="text-center" nowrap>{{user.uid}}</td>
						<td><span uib-tooltip="{{user.uid}}">{{user.email}}</span></td>
						<!-- <td class="text-center" nowrap>{{user.company}}</td> -->
						<td class="text-center" nowrap>{{user.lastLogin | date: 'dd/MM H:mm'}}</td>
						<!-- <td class="text-center">
							{{user.bets.winner.longName}}
							<span ng-hide="user.bets.topScorer && user.bets.winner"><span class="glyphicon glyphicon-remove text-danger"></span></span>
						</td>
						<td class="text-center">
							{{user.bets.topScorer}}
							<span ng-hide="user.bets.topScorer && user.bets.winner"><span class="glyphicon glyphicon-remove text-danger"></span></span>
						</td> -->
						<td class="text-center" nowrap> 
							<span ng-show="!user.bets.default" class="text-warning glyphicon glyphicon-question-sign"></span>
							<span ng-show="user.bets.default" class="text-primary font-weight-bold">{{user.bets.default.home}}x{{user.bets.default.away}}</span>
						</td>
						<td class="text-center">
							N/A<!-- {{participants.getUserTotalBets(user.uid)}} -->
						</td>
						<td class="text-center" nowrap> 
							<a uib-tooltip="{{user.active ? 'Inativar' : 'Ativar'}}" ng-click="participants.activateUser(user)"><span ng-class="{'text-danger': !user.active, 'text-success': user.active, 'glyphicon': true, 'glyphicon-ok': user.active, 'glyphicon-remove': !user.active }"></span></a>				
						</td>
						<td class="text-center" nowrap> 
							<a uib-tooltip="{{user.admin ? 'Remover Admin' : 'Admin'}}" tooltip-placement="left" ng-click="participants.adminUser(user)"><span ng-class="{'text-danger': !user.admin, 'text-success': user.admin, 'glyphicon': true, 'glyphicon-ok': user.admin, 'glyphicon-remove': !user.admin }"></span></a>
						</td>	
						<!-- <td class="text-left" nowrap>
							<span class="label label-success" ng-show="user.extraPoints">{{user.extraPoints}}</span>
							<span ng-hide="user.extraPoints">0</span>
							<span class="pull-right">
								<a href ng-click="participants.addExtraPoints(user,1)" ng-hide="user.extraPoints === 6"><span class="glyphicon glyphicon-plus-sign"></span></a>
								<a href ng-click="participants.addExtraPoints(user,-1)" ng-show="user.extraPoints"><span class="glyphicon glyphicon-minus-sign"></span></a>
							</span>
						</td> -->
					</tr>
				</tbody>
			</table>
			<hr>
		</div>

		<div class="col-xs-4">
			<h4>Aguardando cadastro <small>Total {{participants.pending.length}}</small></h4>
			<div ng-hide="participants.pending.length">
				<span><em>Ninguém na lista de espera.</em></span>
			</div>
			<div ng-repeat = "item in participants.pending | league: participants.leagueFilter">
				<span>{{item.email}} ({{item.league}})</span>
				<a href ng-click="participants.deletePending(item)">Cancelar</a>
			</div>
		</div>
		<div class="col-xs-4">
			<div>
				<h4>Adicionar novos e-mails</h4>
				<a href ng-hide="participants.showAddEmails" ng-click="participants.showAddEmails = true"><span class="glyphicon glyphicon-plus"></span> Adicionar e-mails</a>
			</div>
			<form ng-show="participants.showAddEmails">
				<div class="form-group">
					<textarea class="form-control" name="newEmails" cols="30" rows="10" placeholder="email@email.com, email@email.com, ..." ng-model="participants.form.newEmails"></textarea>
				</div>
				<p class="help-block">E-mails separados por vírgula.</p>
				<div class="form-group">
					<label>Qual campeonato?</label>
					<select class="form-control" ng-options="league for league in participants.leagues" ng-model="participants.form.league">{{league}}
						<option value="" disabled selected hidden>Selecione</option>
					</select>
				</div>
				<button class="btn btn-primary" ng-click="participants.addNewEmails(participants.form.newEmails, participants.form.league)">Adicionar</button>
				<button class="btn btn-default" ng-click="participants.form.newEmails = undefined; participants.showAddEmails = false">Cancelar</button>
			</form>
		</div>
		<div class="col-xs-4">
				<div>
					<h4>Adicionar participantes</h4>
					<a href ng-hide="participants.showAddParticipant" ng-click="participants.showAddParticipant = true"><span class="glyphicon glyphicon-plus"></span> Adicionar e-mails</a>
				</div>
				<form ng-show="participants.showAddParticipant">
					<div class="form-group">
						<label>User ID</label>
						<input class="form-control" name="uid" placeholder="User ID" ng-model="participants.form.uid">
					</div>
					<div class="form-group">
							<label>E-mail</label>
							<input class="form-control" name="email" placeholder="email@email.com" ng-model="participants.form.email">
						</div>
					<div class="form-group">
						<label>Nome</label>
						<input class="form-control" name="name" placeholder="Nome" ng-model="participants.form.name">
					</div>
					<div class="form-group">
						<label>Qual campeonato?</label>
						<select class="form-control" ng-options="league for league in participants.leagues" ng-model="participants.form.league">{{league}}
							<option value="" disabled selected hidden>Selecione</option>
						</select>
					</div>
					<button class="btn btn-primary" ng-click="participants.addNewParticipant(participants.form.uid, participants.form.email, participants.form.name, participants.form.league)">Adicionar</button>
					<button class="btn btn-default" ng-click="participants.form.uid = undefined; participants.form.email = undefined; participants.form.name = undefined; participants.showAddParticipant = false">Cancelar</button>
				</form>
			</div>
	
	</div>
</div>
