<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<h3>Regras Bolão da Raça <br>
			<small>Campeonato Brasileiro Série B 2018.</small></h3>

			<hr>
			
			<h4><a name="pontok"></a>1. Da entrada no Bolão</h4>
			<ul>
			<li>somente será incluído/mantido no grupo do bolão quem estiver “às vera”, ou seja, depositado o valor de R$ 100,00 nas contas a seguir indicadas, sendo que o palpiteiro *deve enviar o comprovante de TED/Depósito  NO PRIVADO para Betão (48) 99176-1767;</li>
			</ul>

			<h4><a name="pontok"></a>2. Da Administração</h4>
			<ul>
			<li>O “Bolão da Raça Brasileiro Série B - 2º Turno” será administrado exclusivamente pelo Betão e Renan - não será cobrado nenhum tipo de taxa de administração, apenas a isenção do valor da inscrição para o administrador do sistema (Renan), 100% do dia valor arrecadado será revertido (distribuído) entre os melhores palpiteiros, conforme premiação abaixo. Casos omissos a regra serão decididos conjuntamente entre os administradores e terá força de lei.</li>
			</ul>

			<h4><a name="pontok"></a>3. Das pontuações</h4>
			<ul>
			<li>Placar cravado: <b>7 pontos</b></li>
			<li>Acertou resultado e a diferença de gols: <b>5 (com exceção ao empate)</b></li>
			<li>Acertou resultado empate (não cravando): <b>4 pontos</b></li>
			<li>Acertou somente o resultado: <b>3 (com exceção do empate)</b></li>
			<li>Acertou apenas número de gols de uma das equipes: <b>1 ponto</b></li>
			* não acumulativo os pontos no mesmo jogo!
			<br><br>
			<li><b>3.1.</b> Em havendo empate em número de pontos (ao final da fase ou do bolão) o critério de desempate será pelo maior número de placares CRAVADO que tenha acertado o Palpiteiro(a), permanecendo o empate o valor será dividido igualmente entre os palpiteiros(as),</li>
		</ul>	
			
			<h4><a name="pontok"></a>4. Do envio dos palpites</h4>
			<ul>
			<li>Após confirmado o depósito será enviado ao palpiteiro um link ao site oficial do Bolão, onde com seu e-mail e senha realizará seus palpites da rodada, podendo inserir e/ou alterar até 30 minutos antes do início da partida. </li>
			<br />
			 	<li><b>4.1.</b>Caso haja alguma inconsistência no sistema devido a problemas técnicos o palpiteiro deverá enviar seus palpites (digitado, foto ou print da tela) por WhatsApp (✔✔), DIRETAMENTE, para o número oficial do Bolão - (48) 98475-2233, até 30 minantes do início de cada jogo;</li>
			 	<li><b>4.2.</b>Em caso de envio do palpite seja realizado pelo aplicativo WhatsApp <b>não será admitido substituição de palpite</b>, ou seja, palpite envido e recebido (dentro do prazo) será registrado, o palpite recebido em duplicidade será desconsiderado;</li>
			</ul>
			
			<h4><a name="pontok"></a>5. Dos jogos selecionados e rodadas:</h4>
			<ul>
			<li>A cada rodada serão selecionados 5 jogos, obrigatoriamente os jogos envolvendo os clubes catarinenses (Avaí, Figueirense e Criciúma), e outros a livre escolha da administração até completar 5 jogos por rodada.</li>
			<br />
			<li><b>5.1.</b> A cada 5 rodadas vamos ter o início de uma fase, e consequentemente uma premiação para o melhor palpiteiro de cada fase, assim divididos:</li>
			<li><b>Fase 1</b>: 20ª rodada à 24ª rodada - 25 jogos;</li>
			<li><b>Fase 2</b>: 25ª rodada à 29ª rodada - 25 jogos;</li>
			<li><b>Fase 3</b>: 30ª rodada à 34ª rodada - 25 jogos;</li>
			<li><b>Fase 4</b>: 35ª rodada à 38ª rodada - 20 jogos.</li>
			* Fase 4 excepcionalmente terá 4 rodadas, por conta da quantidade de jogos do turno (19)
			</ul>
	
			<h4><a name="pontok"></a>6. Da premiação</h4>
			<ul>
			<li>Os prêmios em dinheiro serão repassado aos felizardos palpiteiros(as), advindo da receita arrecadada por todos partícipes do bolão na forma proporcional a seguir descrita:</li>
			<br />
			<li><b>1º Lugar Geral:</b> 40% (quarenta por cento) do total arrecadado;</li>
			<li><b>2º Lugar Geral:</b> 25% (vinte e cinco por cento) do total arrecadado;</li>
			<li><b>3º Lugar Geral:</b> 10% (dez por cento) do total arrecadado;</li>
			<br />
			<li><b>6.1.</b> Ao término de cada fase o melhor desempenho receberá uma premiação de 5% (cinco por cento) do total arrecadado;</li>
			</ul>

			<h4><a name="pontok"></a>7. Pagamento do Bolão</h4>
			<ul>
			<li>*Pode ser realizado pessoalmente e apenas em dinheiro, para qualquer um dos administradores ou através de TED/Depósito em qualquer das contas a seguir listadas:</li>
			</ul>

			<b>Dados Bancários:</b><br>
			<br>
			Titular: <b>Norberto Becker Neto</b><br>
			CPF/MF: <b>867.205.899-20</b><br>
			<br>
			🇮🇲 Banco Bradesco 🇮🇲( <b>237</b> )<br>
			Agência <b>0348-4</b><br>
			Conta Corrente <b>2202-0</b><br>
			<br>
			🇻🇨 Banco SICOOB 🇻🇨 ( <b>756</b> )<br>
			Agência <b>3326-0</b><br>
			Conta Corrente <b>27309-0</b><br>
			<br>
			🇪🇺 Banco Caixa Econômica Federal 🇪🇺 ( <b>104</b> )<br>
			Agência <b>1875</b><br>
			Operação <b>013</b><br>
			Conta Poupança <b>21346-5</b><br>
			<br>
			 🇧🇷 Banco do Brasil 🇧🇷 ( <b>001</b> )<br>
			Agência <b>5251-5</b><br>
			Variação <b>51</b><br>
			Conta Poupança <b>12739-6</b><br>
			
			<h4><a name="pontok"></a>8. Premiação</h4>
			<ul>
			<li>Será paga (repassada aos felizardos palpiteiros) até o primeiro dia útil após o término da última rodada e definição dos “rabudos(as).</li>
			</ul>
			 
			<h4><a name="pontok"></a>9. Sugestões e colaborações para o bolão</h4>
			<ul>
			<li>Serão sempre bem vindas, e em estando em consentâneo como lóbi de nossa guilda, compreenderão o arcabouço das Regras do Bolão da Raça. 🤗</li>
			</ul>
			 
			<hr>
			<!-- 
			<h5><a name="joginyilatkozat"></a>Jogi nyilatkozat</h5>
			<small>
				<p>A Tippjáték szervezői: Cinkotai Norbert (<a href="mailto:norbert.cinkotai@kbcsecurities.hu">norbert.cinkotai@kbcsecurities.hu</a>) és Somi András (<a href="mailto:andras.somi@kbcsecurities.hu">andras.somi@kbcsecurities.hu</a>).</p>

				<p>A Tippjátékban való részvétel teljesen önkéntes és ingyenes, ezen felül előzetes regisztrációhoz kötött. A regisztráció feltétele egy valós e-mail cím elküldése a norbert.cinkotai@kbcsecurities.hu e-mail címre, valamint az így kapott regisztrációs link aktiválása, mellyel a résztvevők automatikusan elfogadják és magukra nézve kötelezőnek tekintik a jelen Szabályzatban foglaltakat is. A Tippjáték szervezői fenntartják a jogot, hogy a nyilvánvalóan visszaélésszerű, rosszhiszemű, „troll” regisztrációs igényeket elutasítsák.</p>

				<p>A résztvevők tudomásul veszik, hogy: a) a regisztráció során vagy azt követően megadott felhasználónevüket a Tippjáték szervezői jogosultak a Tippjáték aktuális állásának ismertetése és a végső eredményhirdetés során közzétenni; b) a Tippjátéknak nincs előre meghatározott nyereménye, a cél elsősorban maga a szórakozás, illetve a foci népszerűsítése, így a győztes(ek)nek járó erkölcsi elismerés  konkrét nyereményre nem váltható át, valamint vagyoni/nem vagyoni igény érvényesítésére sem jogosít; c) maguk a Tippjáték szervezői is jogosultak a játékban részt venni, azonos feltételekkel, mint az egyéb résztvevők, kötelesek azonban mindenkor jóhiszeműen és tisztességesen eljárni.</p>

				<p>A Tippjátékkal összefüggésben a szervezők mint magánszemélyek járnak el, így e tevékenységük, valamint maga a Tippjáték semmilyen formában nem hozható összefüggésbe munkáltatójukkal, a KBC Securities N.V.-vel, illetve a KBC Securities Magyarországi Fióktelepével. A szervezők tevékenysége továbbá kizárólag a regisztráció elősegítésére, valamint a tippek leadásához szükséges elektronikus felület kialakítására és karbantartására terjed ki, így nem terheli őket felelősség különösen: a) a mérkőzések eredményeinek alakulásáért; b) a mérkőzések bármely okból történő elmaradásáért; c) a magyar válogatott esetleges (nem várt) idő előtti kieséséért; d) a rendező francia válogatott játékvezetők általi esetleges (várt) favorizálásáért.</p>

				<p>A Tippjátékban történő részvétel érdekében fentiek szerint elküldött felhasználói e-mail címek, valamint önkéntesen megadott esetleges egyéb személyes adatok a játék lezárultát követően haladéktalanul törlésre kerülnek.</p>

				<p>A szervezők fenntartják a jogot, hogy e Szabályzatot a résztvevők értesítése mellett, egyoldalúan módosítsák.</p>
			</small>
			 -->
		</div>
	</div>
</div>