<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<h3>Regras Bolão da Raça <br>
			<small>Copa do Mundo FIFA Rússia 2018.</small></h3>

			<hr>
			
			<h4><a name="pontok"></a>1. Da entrada no Bolão</h4>
			<ul>
			<li>Somente será incluído no grupo do bolão quem estiver “às vera”, ou seja, depositado o valor de R$ 150,00 na conta abaixo indicada e enviado o comprovante de depósito para o Dudu ( 98404-1090) ou Betão (99176-1767);</li>
			</ul>

			<h4><a name="pontok"></a>2. Da Administração</h4>
			<ul>
			<li>O “Bolão da Raça Copa 2018” será administrado exclusivamente pelo Dudu, Renan e Betão - não será cobrado nenhum tipo de taxa de administração, 100% do valor será revertido (distribuído) entre os melhores palpiteiros, conforme premiação abaixo. Casos omissos a regra serão decididos conjuntamente entre os administradores e terá força de lei.</li>
			</ul>

			<h4><a name="pontok"></a>3. Das pontuações</h4>
			<ul>
			<li>A pontuação do bolão será computada da seguinte forma: 5 pontos para acerto do placar exato do jogo, 3 pontos para acerto do resultado do jogo (vitória ou empate), 1 ponto para acerto do número de gols de uma das equipes;</li>
			</ul>
			

			<h4><a name="pontok"></a>4. Do envio dos palpites</h4>
			<ul>
			<li>Somente serão considerados válidos os palpites RECEBIDOS (foto ou digitado), por SMS ou WhatsApp (✔✔), DIRETAMENTE, para o número oficial do Bolão - (48) 98475-2233, até 1 (uma) hora antes do início de cada jogo;</li>
			<br />
			<li><b>4.1.</b> Não será admitido substituição de palpite, ou seja, palpite recebido (dentro do prazo) será registrado, o palpite recebido em duplicidade será desconsiderado;</li>
			</ul>
			
			<h4><a name="pontok"></a>5. Dos resultados parciais e finais</h4>
			<ul>
			<li>Os administradores só terão acesso aos palpites enviados ao final de cada rodada, logo as somatória parcial será enviada ao grupo oficial ao final de cada rodada;</li>
			<br />
			<li><b>5.1.</b> Rodada 1: início dia 14/06 (Rússia x Arábia Saudita) e fim 19/06 (Polônia x Senegal);</li>
			<li><b>5.2</b>. Rodada 2: início dia 19/06 (Rússia x Egito) e fim 24/06 (Polônia x Colômbia);</li>
			<li><b>5.3.</b> Rodada 3: início dia 25/06 (Arábia Saudita x Egito) e fim 28/06 (Panamá x Tunísia);</li>
			<li><b>5.4.</b> Rodada 4: oitavas de final, início dia 30/06 e fim 03/07;</li>
			<li><b>5.5.</b> Rodada 5: quartas de final, semi finais e finais (incluindo jogos de 3º e 4º), início 06/07 e fim 15/07.</li>
			</ul>

			<h4><a name="pontok"></a>6. Da premiação</h4>
			<ul>
			<li>Os prêmios em dinheiro serão repassado aos felizardos palpiteiros(as), advindo da receita arrecadada por todos partícipes do bolão na forma proporcional a seguir descrita:</li>
			<br />
			<li><b>1º Lugar Geral:</b> 40% (quarenta por cento) do total arrecadado;</li>
			<li><b>2º Lugar Geral:</b> 25% (vinte e cinco por cento) do total arrecadado;</li>
			<li><b>3º Lugar Geral:</b> 10% (dez por cento) do total arrecadado;</li>
			<br />
			<li><b>6.1.</b> Ao término de cada rodada o melhor desempenho receberá uma premiação de 5% (cinco por cento) do total arrecadado;</li>
			</ul>

			<h4><a name="pontok"></a>7. Pagamento do Bolão</h4>
			<ul>
			<li>Ao vivo e apenas em dinheiro para qualquer um dos administradores ou através de depósito na Caixa Econômica Federal (104), Agência 1875, Operação 013, Conta Poupança 21.346-5, titularidade Norberto Becker Neto (CPF 867.205.899-20), enviando o comprovante logo após o depósito realizado (em qualquer lotérica) diretamente para qualquer um dos administradores do Bolão, assim sendo automaticamente incluído no grupo do bolão.></li>
			</ul>
			
			<h4><a name="pontok"></a>8. Premiação</h4>
			<ul>
			<li>Será paga (repassada aos felizardos palpiteiros) até o primeiro dia útil após o término da última rodada (15/07) e definição dos “rabudos(as).</li>
			</ul>
			 
			
			<h4><a name="pontok"></a>9. Sugestões e colaborações para o bolão</h4>
			<ul>
			<li>Serão sempre bem vindas, e em estando em consentâneo como lóbi de nossa guilda, compreenderão o arcabouço das Regras do Bolão da Raça Copa 2018.</li>
			</ul>
			 
			
			<hr>
			<!-- 
			<h5><a name="joginyilatkozat"></a>Jogi nyilatkozat</h5>
			<small>
				<p>A Tippjáték szervezői: Cinkotai Norbert (<a href="mailto:norbert.cinkotai@kbcsecurities.hu">norbert.cinkotai@kbcsecurities.hu</a>) és Somi András (<a href="mailto:andras.somi@kbcsecurities.hu">andras.somi@kbcsecurities.hu</a>).</p>

				<p>A Tippjátékban való részvétel teljesen önkéntes és ingyenes, ezen felül előzetes regisztrációhoz kötött. A regisztráció feltétele egy valós e-mail cím elküldése a norbert.cinkotai@kbcsecurities.hu e-mail címre, valamint az így kapott regisztrációs link aktiválása, mellyel a résztvevők automatikusan elfogadják és magukra nézve kötelezőnek tekintik a jelen Szabályzatban foglaltakat is. A Tippjáték szervezői fenntartják a jogot, hogy a nyilvánvalóan visszaélésszerű, rosszhiszemű, „troll” regisztrációs igényeket elutasítsák.</p>

				<p>A résztvevők tudomásul veszik, hogy: a) a regisztráció során vagy azt követően megadott felhasználónevüket a Tippjáték szervezői jogosultak a Tippjáték aktuális állásának ismertetése és a végső eredményhirdetés során közzétenni; b) a Tippjátéknak nincs előre meghatározott nyereménye, a cél elsősorban maga a szórakozás, illetve a foci népszerűsítése, így a győztes(ek)nek járó erkölcsi elismerés  konkrét nyereményre nem váltható át, valamint vagyoni/nem vagyoni igény érvényesítésére sem jogosít; c) maguk a Tippjáték szervezői is jogosultak a játékban részt venni, azonos feltételekkel, mint az egyéb résztvevők, kötelesek azonban mindenkor jóhiszeműen és tisztességesen eljárni.</p>

				<p>A Tippjátékkal összefüggésben a szervezők mint magánszemélyek járnak el, így e tevékenységük, valamint maga a Tippjáték semmilyen formában nem hozható összefüggésbe munkáltatójukkal, a KBC Securities N.V.-vel, illetve a KBC Securities Magyarországi Fióktelepével. A szervezők tevékenysége továbbá kizárólag a regisztráció elősegítésére, valamint a tippek leadásához szükséges elektronikus felület kialakítására és karbantartására terjed ki, így nem terheli őket felelősség különösen: a) a mérkőzések eredményeinek alakulásáért; b) a mérkőzések bármely okból történő elmaradásáért; c) a magyar válogatott esetleges (nem várt) idő előtti kieséséért; d) a rendező francia válogatott játékvezetők általi esetleges (várt) favorizálásáért.</p>

				<p>A Tippjátékban történő részvétel érdekében fentiek szerint elküldött felhasználói e-mail címek, valamint önkéntesen megadott esetleges egyéb személyes adatok a játék lezárultát követően haladéktalanul törlésre kerülnek.</p>

				<p>A szervezők fenntartják a jogot, hogy e Szabályzatot a résztvevők értesítése mellett, egyoldalúan módosítsák.</p>
			</small>
			 -->
		</div>
	</div>
</div>