<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<a ui-sref="app.admin.teamList">Voltar</a>
			<h4>
				<span ng-show="team.current.ISO!=''" class="flag-icon" ng-class="{'flag-icon-{{team.current.ISO}}': true}"></span>
				<img ng-show="team.current.iconImg!=''" class="teamIcon80" ng-src="images/teams/{{team.current.iconImg}}" />
				{{team.current.longName}} <small>({{team.current.shortName}})</small>
			</h4> 
			<p class="player" ng-repeat="player in team.data.players | team: team.current.$id track by player.$id ">{{player.name}} <a href ng-click="team.removePlayer(player)"><span class="glyphicon glyphicon-remove"></span></a></p>
		</div>

		<!-- ADD TEAM FORM -->

		<div class="col-xs-12 col-sm-6">
			<form name="playerForm">
				<h4>Adicionar jogadores</h4>
				<div class="form-group">

				<!-- Players -->
				<div class="form-group">
					<textarea 
						required
						class="form-control" 
						id="" 
						cols="30" 
						rows="10" 
						ng-model="team.form.players"
						placeholder="Lista de jogadores"></textarea>
					<div class="help-block">Inserir jogadores separados por vírgula.</div>
				</div>

				<button class="btn btn-primary"  ng-click="team.addPlayers(team.current, team.form.players); team.reset(playerForm)" ng-disabled="playerForm.$invalid">Cadastrar</button>
			</form>
		</div>
	</div>
</div>